<?xml version="1.0"?>
<UserConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AudioLanguagePreference>zh-CN</AudioLanguagePreference>
  <PlayDefaultAudioTrack>true</PlayDefaultAudioTrack>
  <SubtitleLanguagePreference>zh-CN</SubtitleLanguagePreference>
  <DisplayMissingEpisodes>false</DisplayMissingEpisodes>
  <SubtitleMode>Smart</SubtitleMode>
  <OrderedViews />
  <LatestItemsExcludes />
  <MyMediaExcludes />
  <HidePlayedInLatest>true</HidePlayedInLatest>
  <HidePlayedInMoreLikeThis>false</HidePlayedInMoreLikeThis>
  <HidePlayedInSuggestions>false</HidePlayedInSuggestions>
  <RememberAudioSelections>true</RememberAudioSelections>
  <RememberSubtitleSelections>true</RememberSubtitleSelections>
  <EnableNextEpisodeAutoPlay>false</EnableNextEpisodeAutoPlay>
  <ResumeRewindSeconds>0</ResumeRewindSeconds>
  <IntroSkipMode>ShowButton</IntroSkipMode>
</UserConfiguration>